.submenu {
    background-color: var(--white);
    text-align: center;
    padding: 5rem;
    color: var(--darkblue);
}

.submenu h1{
    font-size: 6.4rem;
    padding-bottom: 3rem;
    position: relative;
    right: 100px;
}

.submenu span{
    position: absolute;
    padding-left: 1.8rem;
}

.submenu h2{
    font-family: var(--titlefont);
}

.submenu span:nth-child(1){
    color: var(--lightblue);
}
.submenu span:nth-child(2){
    color: var(--darkblue);
    animation: animate 4s ease-in-out infinite;
}

@keyframes animate {
    0%,
    100% {
      clip-path: polygon(
        0% 45%,
        16% 44%,
        33% 50%,
        54% 60%,
        70% 61%,
        84% 59%,
        100% 52%,
        100% 100%,
        0% 100%
      );
    }
  
    50% {
      clip-path: polygon(
        0% 60%,
        15% 65%,
        34% 66%,
        51% 62%,
        67% 50%,
        84% 45%,
        100% 46%,
        100% 100%,
        0% 100%
      );
    }
  }

.submenu h2{
    font-size: 2.4rem;
    padding-bottom: 1.5rem;
}

.submenu p{
    font-size: 1.8rem;
    color: var(--blue);
    padding-bottom: 0.5rem;
}

@media screen and (max-width:1250px){
    .submenu {
        padding: 1rem;
    }

    .submenu h1 {
        font-size: 4.8rem;
        
    }
}